<a href="https://colab.research.google.com/github/Verne1321/DS-Student-Resources/blob/main/Navigating_the_Entry_Level_Job_Market_Insights_from_LinkedIn_Listings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The goal of this project is to determine how many entry level job postings actually reflect a requirement for entry-level experience (0-3 years), how long these postings are listed for on average, and an appropriate educational requirement.

In [1]:
#Import Libraries
import pandas as pd

#Load the dataset
data = pd.read_csv('/content/job_postings.csv')

#Display the first few rows of the dataset
data.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",...,1.710000e+12,NaN,NaN,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",...,1.700000e+12,NaN,NaN,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,NaN,NaN,Contract,"New York, NY",...,1.700000e+12,NaN,NaN,NaN,1.690000e+12,NaN,0,CONTRACT,NaN,NaN
3,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,NaN,NaN,Full-time,"Forney, TX",...,1.700000e+12,NaN,NaN,NaN,1.690000e+12,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,NaN,NaN,Full-time,"New York, NY",...,1.710000e+12,NaN,NaN,NaN,1.690000e+12,NaN,1,FULL_TIME,NaN,NaN

In [8]:
#Quick view of columns and their datatypes in the dataset
data.dtypes

job_id                          int64
company_id                    float64
title                          object
description                    object
max_salary                    float64
med_salary                    float64
min_salary                    float64
pay_period                     object
formatted_work_type            object
location                       object
applies                       float64
original_listed_time          float64
remote_allowed                float64
views                         float64
job_posting_url                object
application_url                object
application_type               object
expiry                        float64
closed_time                   float64
formatted_experience_level     object
skills_desc                    object
listed_time                   float64
posting_domain                 object
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
dtype: object

In [14]:
#Determine the size of the dataset
data.shape

(15886, 27)

In [15]:
#Check for missing values
data.isnull().sum()

job_id                            0
company_id                      366
title                             0
description                       1
max_salary                    10365
med_salary                    14905
min_salary                    10365
pay_period                     9384
formatted_work_type               0
location                          0
applies                        7186
original_listed_time              0
remote_allowed                13546
views                          2763
job_posting_url                   0
application_url                6091
application_type                  0
expiry                            0
closed_time                   14958
formatted_experience_level     4902
skills_desc                   15742
listed_time                       0
posting_domain                 6842
sponsored                         0
work_type                         0
currency                       9384
compensation_type              9384
dtype: int64

In [21]:
#Dropping rows that do not align with my stated goals
processed_data = data.drop(['views','job_posting_url','application_url', 'application_type','pay_period','posting_domain','currency','compensation_type','max_salary', 'med_salary', 'min_salary'], axis=1)
processed_data.head()

,job_id,company_id,title,description,formatted_work_type,location,applies,original_listed_time,remote_allowed,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,sponsored,work_type
0,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,Full-time,"Chico, CA",NaN,1.690000e+12,NaN,1.710000e+12,NaN,NaN,NaN,1.690000e+12,1,FULL_TIME
1,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,Full-time,"Santa Clarita, CA",NaN,1.690000e+12,NaN,1.700000e+12,NaN,NaN,NaN,1.690000e+12,0,FULL_TIME
2,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,Contract,"New York, NY",1.0,1.690000e+12,NaN,1.700000e+12,NaN,NaN,NaN,1.690000e+12,0,CONTRACT
3,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,Full-time,"Forney, TX",NaN,1.690000e+12,NaN,1.700000e+12,NaN,NaN,NaN,1.690000e+12,0,FULL_TIME
4,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,Full-time,"New York, NY",NaN,1.690000e+12,NaN,1.710000e+12,NaN,NaN,NaN,1.690000e+12,1,FULL_TIME

In [22]:
processed_data.dtypes

job_id                          int64
company_id                    float64
title                          object
description                    object
formatted_work_type            object
location                       object
applies                       float64
original_listed_time          float64
remote_allowed                float64
expiry                        float64
closed_time                   float64
formatted_experience_level     object
skills_desc                    object
listed_time                   float64
sponsored                       int64
work_type                      object
dtype: object